numpy
keras
matplotlib
mplfinance
pandas
plotly
pytest
pytickersymbols
scikit_learn
streamlit
streamlit_option_menu
tensorflow
yfinance
yaml                                                             